/*- Mutassa az órát, percet, másodpercet
- Az óra a user által használt időzóna szerint jelenítse meg az időt
- Az óra 24 órás formátumot használjon minden esetben
- A színeket szabadon választhatod meg
- Az óra a képernyő közepén jelenjen meg, azaz mind vertikálisan, mind horizontálisan legyen középre igazítva minden nézetben
- A háttérszín pontosan 1 képernyő széles és magas legyen minden nézetben
- Használd a Cyberverse betűtípust
- A betűméretet te választhatod meg*/

  @font-face {
    font-family: Cyberverse;
    src: url(/css/Cyberverse.otf)
}  

html {
    background-color: rgb(224, 253, 224);
    text-align: center;
    
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top:0;
    left: 0;
    height: 100vh;
    width: 100vw;
    
    
}

.clock {
    color: white;
    font-family: Cyberverse;
    font-size: 5rem;
    border: 2px solid white;
    border-radius: 50px;
    background-color: rgb(141, 135, 135);
    width: 420px;
    
}